html {
  font-size: 14px;
}
body {
  overflow: hidden;
  margin: 0;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:where(.css-dev-only-do-not-override-j0nf2s).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border:solid 1px #909090
}


.selected-unit {
  opacity: 1 !important;
  fill: #0058ad;
  stroke: #0058ad;
  stroke-width: 2px;
}


.selecting-unit {
  opacity: 1 !important;
  fill: #0058ad;
  stroke: #0058ad;
  stroke-width: 2px;
}

.selected-model{
  fill: #edf5ff;
}
